.git
**/.venv
**/.cache
**/.npm
**/node_modules
experience
personaplex
infra/deploy/docker-compose/volumes
infra/logs
infra/models
**/models_cache
**/.mypy_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/.coverage
**/htmlcov
**/.DS_Store
**/*.log
poetry.lock
Pipfile.lock
