[Unit]
Description=Love Stack - Listener API
After=network.target postgresql-15.service redis.service

[Service]
User=${USER}
Group=${GROUP}
WorkingDirectory=${APP_DIR}/listener
ExecStart=${APP_DIR}/listener/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port ${PORT_LISTENER}
Restart=always
EnvironmentFile=${APP_DIR}/infra/deploy/configs/env/production.env

[Install]
WantedBy=multi-user.target
