# Build artifacts
.next
dist
build
web-build
out

# Dependencies
node_modules

# Expo
.expo

# Coverage
coverage

# Generated
next-env.d.ts
*.d.ts

# Desktop Build Artifacts
desktop/native-swift/.build
desktop/src-tauri/target
**/target
**/.build
