[Unit]
Description=Love Stack - Listener API
After=network.target postgresql-{{ postgresql_version }}.service redis.service

[Service]
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ app_dir }}/listener
ExecStart={{ app_dir }}/listener/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port {{ port_listener }} --workers {{ uvicorn_workers_default }}
Restart=always
EnvironmentFile={{ app_dir }}/infra/deploy/configs/env/production.env

[Install]
WantedBy=multi-user.target
